{block contentWindow}
    <div class="title">
        <div class="p8">
            <img src="/public/images/icons/settings.png" />
                Account Settings

                <a href="#" id="content-window-close" class="r">close</a>

        </div>
    </div>
    <div class="content">
        <div class="p16">
            {control accountSettingsForm}
        </div>
    </div>
{/block}
