<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Brain Architect - Account activated</title> 
        
        <style>
            body{
                font-family: 'Arial', sans-serif;
                font-size: 12px;
            }
        </style>
    </head>
    <body>

        <img src="logotyp.png" /><br /><br />
        
        Hi {$username},<br />
        <br />
        your account was activated.<br /><br />
        
        <strong>Enjoy it!</strong><br />
        <br />
        Your Brain Architect
        
    </body>
</html>