<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Brain Architect - New password</title> 
        
        <style>
            body{
                font-family: 'Arial', sans-serif;
                font-size: 12px;
            }
        </style>
    </head>
    <body>

        <img src="logotyp.png" /><br /><br />
        
        Hi {$username},<br />
        <br />
        your new password is: <strong>{$password}</strong><br /><br />
        
        Your Brain Architect
        
    </body>
</html>