<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Brain Architect - Account registration</title> 
        
        <style>
            body{
                font-family: 'Arial', sans-serif;
                font-size: 12px;
            }
        </style>
        
    </head>
    <body>

        <img src="logotyp.png" /><br /><br />
        
        Welcome to Brain Architect!<br /><br />

        <strong>Username:</strong> {$username} <br />
        <strong>Email:</strong> {$email} <br />

        <strong>Activation Key:</strong> {$activationKey}<br /><br />

        You can activate your account <a href="{$activationUrl}" title="">here</a>.<br /><br />
        
        Thank you,
        <br /><br /> 
        Your Brain Architect
        
    </body>
</html>