{block content}

<h1>3. Account activated</h1>
<p>Your account has been activated. <strong>Enjoy Brain Architect!</strong></p>

<a href="{plink :BrainArchitect:Frontend:Workspace:}" class="button"><span>Run Editor</span></a>