{block content}

    <h1>1. Account registration</h1>
    <p>Take down your inspirations and ideas as they happen Capture interesting webpages you see, images and all Snap photos of everything from whiteboards to wine labels.</p>
    {control registerForm}