{block content}

<h1>Bad, bad, bad Browser</h1>

<p>Brain Architect requires to use these browsers:</p>

<a class="browser l" href="http://www.mozilla.org/en-US/firefox/fx/">
    <img src="/public/images/Firefox.png" alt="" />
    Firefox
</a>
<a class="browser r" href="https://www.google.com/chrome/">
    <img src="/public/images/Chrome.png" alt="" />
    Chrome
</a>

<div class="clear"></div>

